<!-- templates/songs.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('main.add_songs')}}" role="button">Add New Song</a>
    </div>
    <br>
    <table class="table table-sm table-striped table-hover">
        <tbody>
            {% for song in songs %}
            <tr class="shadow p-3 mb-5 bg-body rounded">
                <td>
                    {% if song.song_profile %}
                        <img src="{{ url_for('static', filename=song.song_profile) }}" style="width: 50px; height: 50px;">
                    {% else %}
                        <img src="{{ url_for('static', filename='song_image/default_song_image.png') }}" style="width: 50px; height: 50px;">
                    {% endif %}
                </td>
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.album }}</td>
                <td>{{ song.genre }}</td>
                <td>{{ song.release_date }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item btn-sm update-song-btn" href="{{ url_for('main.update_song', song_id=song.id) }}">Update</a></li>
                            <li><a class="dropdown-item delete-song-btn" href="#" data-bs-toggle="modal" data-bs-target="#deleteSongModal{{ song.id }}">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal for Delete Confirmation -->
{% for song in songs %}
<div class="modal fade" id="deleteSongModal{{ song.id }}" tabindex="-1" aria-labelledby="deleteSongModalLabel{{ song.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSongModalLabel{{ song.id }}">Delete Song</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete '{{ song.title }}'?</p>
        <!-- Form for submitting song ID -->
        <form action="{{ url_for('main.delete_song', song_id=song.id | string) }}" method="post">
            <input type="hidden" name="song_id" value="{{ song.id }}">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
