{% extends 'base.html' %}

{% block content %}
<main class="p-4">
    <div class="song-list bg-gray-800 p-4 rounded-lg">
        {% for song in songs %}
        <div class="song-item flex items-center justify-between py-2 border-b border-gray-700">
            <div class="flex items-center space-x-4">
                <span class="text-gray-400">{{ loop.index }}.</span>
                <button class="text-gray-400">+</button>
                <img src="{{ url_for('static', filename=song.song_profile if song.song_profile else 'img/default.png') }}" alt="Song Cover" class="w-12 h-12 rounded">
                <div>
                    <p>{{ song.title }}</p>
                </div>
            </div>
            <div class="flex items-center space-x-2">
                <button class="text-white bg-gray-700 hover:bg-gray-600 rounded-full p-2 play-button" data-url="{{ url_for('static', filename=song.song_file) }}" data-title="{{ song.title }}" data-artist="{{ song.artist }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M5 3v18l15-9-15-9z" />
                    </svg>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
