{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="shadow p-3 mb-5 bg-body rounded">
        <form class="row g-3" id="update-user-form" action="{{ url_for('main.update_user', user_id=user.id) }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="col-md-6 position-relative">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {{ form.name.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6 position-relative">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {{ form.username.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6 position-relative">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {{ form.email.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6 position-relative">
                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control") }}
                {% if form.favorite_color.errors %}
                    <div class="invalid-feedback">
                        {{ form.favorite_color.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6 position-relative">
                {{ form.password_hash.label(class="form-label") }}
                {{ form.password_hash(class="form-control") }}
                {% if form.password_hash.errors %}
                    <div class="invalid-feedback">
                        {{ form.password_hash.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6 position-relative">
                {{ form.password_hash2.label(class="form-label") }}
                {{ form.password_hash2(class="form-control") }}
                {% if form.password_hash2.errors %}
                    <div class="invalid-feedback">
                        {{ form.password_hash2.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="col-12">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
